#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    width: 900px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.card img{
    width: 250px;
}
.card-info{
    text-align: center;
    padding: 0 20px;
}